.slider {
  transform: translateY(100%);
  animation: slider 1s ease-out;

  &.open {
    transform: translateY(0%);
  }
}

@keyframes slider {
  0% {
    transform: translateY(100%);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes snackbar {
  0% {
    opacity: 0;
    transform: translateY(50px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
