:root {
  --black: #3a3a3a;
  --white: #ffffff;
  --white-80: rgba(255, 255, 255, 0.8);

  // grey scale
  --grey-100: rgba(23, 23, 23, 1);
  --grey-90: rgba(46, 46, 46, 1);
  --grey-80: rgba(69, 69, 69, 1);
  --grey-70: rgba(93, 93, 93, 1);
  --grey-60: rgba(116, 116, 116, 1);
  --grey-50: rgba(139, 139, 139, 1);
  --grey-40: rgba(162, 162, 162, 1);
  --grey-30: rgba(185, 185, 185, 1);
  --grey-20: rgba(209, 209, 209, 1);
  --grey-10: rgba(232, 232, 232, 1);
  --grey-08: rgba(236, 236, 236, 1);
  --grey-04: rgba(246, 246, 246, 1);

  --shadow-01: 0px 4px 32px rgba(0, 0, 0, 0.1);
  --shadow-02: 0px 4px 8px rgba(0, 0, 0, 0.1);
  --shadow-color: 0px 7px 32px rgba(38, 120, 167, 0.1);
  --shadow-card: 0px 3px 12px rgba(0, 0, 0, 0.08);

  --primary: #212121;
  --secondary: #43ab08;
}
